@import url("reset.css");

/* =========================================================================
 * Body
 * ========================================================================= */
body {
    color: #333333;
    font-family: "optima", "lucida grande", "lucida sans unicode",
                 verdana, arial, helvetica, sans-serif;
    font-size: 1.1em;
    line-height: 1.5em;
    margin-top: 0em;
}


/* =========================================================================
 * Document
 * ========================================================================= */
div.document {
    margin-top:     50px;
    margin-bottom:   5em;
    margin-left:   250px;
    margin-right:    10%;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "futura", "lucida grande", "lucida sans unicode",
                 verdana, arial, helvetica, sans-serif;
    font-weight: normal;
    clear: both;
}

h1 {
    font-size:     2em;
    margin-top:    2em;
    padding-top:   2em;
    margin-bottom: 1em;
}

h2 {
    font-size:  1.25em;
    margin-top:    3em;
    margin-bottom: 1em;
    color: #326598;
    padding-left:  2em;
    margin-left:  -2em;
    margin-right: 25%;
    padding-bottom: .5em;
    padding-top:   2em;
    border-bottom: 2px solid #326598;
}

h3 {
    font-size:     1em;
    margin-top:    3em;
    margin-bottom: 1em;
    border-bottom: 1px solid #efefef;
    color: #326598;
}

h1.title {
    margin-bottom:  0.0em;
    padding-bottom: 0.0em;
}
h2.subtitle {
    font-size:     1.0em;
    padding-top:   0.5em;
    margin-top:    0.0em;
    color:         #999;
    border-bottom: none;
}

p {
    margin-bottom: 1em;
}

strong {
    font-weight: bold;
}

em {
    font-style: italic;
}

a {
    color: #326598;
    text-decoration: none;
}

a:hover {
    color: #326598;
    text-decoration: underline;
}

hr {
    margin-top: 1em;
    border: 0;
}    

.contents ul {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
 	list-style: none;
}

/* =========================================================================
 * Image
 * ========================================================================= */
img {
    text-align : left;
}


.align-right {
    float: right;
}

.aling-left {
    float: left;
}


/* =========================================================================
 * Figure
 * ========================================================================= */
.figure
{
    margin-top:    1em;
    margin-bottom: 1em;
}



/* =========================================================================
 * Math
 * ========================================================================= */
img.math {
    vertical-align: middle;
}
div.body div.math p {
    text-align: left;
}
span.eqno {
    float: right;
}

/* =========================================================================
 * Table
 * ========================================================================= */
table
{
    margin-bottom: 2em;
}
th.head
{
    font-weight: bold;
    text-align: left;
    border-bottom: 1px solid black;
    padding-right: .5em;
}

th.field-name
{
    font-weight: bold;
    text-align: left;
    padding-right: 1em;
}
td {
    vertical-align:middle;
    padding-bottom: 1em;
}

.compact-table td {
    vertical-align:middle;
    padding-bottom: .1em;
}

.compact-table  {
    width:100%;
}

/* =========================================================================
 * Code
 * ========================================================================= */
tt {
    font-family: monospace;
}
pre {
    background: #eeeeee;
    border: 1px solid #cccccc;
    padding:    .5em;
    line-height: 1.25em;
    font-family: monospace;
    margin-bottom: 1em;
    width: 75%;
}


dl.docutils > dd {
    margin-left: 2em;
/*    font-size: 90%;*/
}

dl.docutils > dt {
    font-style: italic;
    color: #000099;
}
.classifier {
    font-style: normal;
    color: #000000;
}
.classifier-delimiter {
    font-style: normal;
    color: #000000;
}

dl > dt  {
    font-family: monospace;
}
dl.method, dl.attribute, dl.function, dl.class {
    margin-bottom: 1em;
}
dl.class > dt, dl.function > dt, dl.method > dt, dl.attribute > dt {
    padding: .25em;
    margin-top: 2em;
    background: #eeeeee;
}
.descname {
    font-weight: bold;
}


/* =========================================================================
 * Table of Contents
 * ========================================================================= */
/* Global */
.toctree-wrapper {
    padding-bottom: 3em;
}
.toctree-wrapper ul {
  list-style-type:none;
  padding-bottom: 0;
}
/*
.toctree-l1 {
    margin-bottom: 1em;
}
*/
.toctree-l2 {
    padding-left: 2em;
}

/* Local */
li > ul > li {
    padding-left: 2em;
}

div.document .contents {
    margin-bottom: 5em;
}
div.document .topic-title {
    margin-top: 2em;
    font-weight: bold;
}
.contents ul {
  list-style-type:none;
  padding-bottom: 0;
}



/* -------------------------------------------------------------------------
   Admonition
   ------------------------------------------------------------------------- */
div.admonition, div.note {
    float: left;
    line-height: 1.5em;
    font-size: 80%;
    margin: 0;
    padding:          3px 5px;
    margin-left:     -220px;
    width:            200px;
    border-left:     1px solid #cccccc;
}
div.admonition p, div.note p {
    text-align: left;
    margin: 0;
    padding: 0;
}

div.admonition .first, div.note .first {
    font-weight: bold;
}



/* -------------------------------------------------------------------------
   Header
   ------------------------------------------------------------------------- */
div.header {
    padding-top: 25px;
    padding-left:15px;
}

/* -------------------------------------------------------------------------
   Footer
   ------------------------------------------------------------------------- */
div.footer {
    font-family: "futura", "lucida grande", "lucida sans unicode",
                 verdana, arial, helvetica, sans-serif;
    font-size: 75%;
    line-height: 1.5em;
    position: fixed;
    left: 0;
    bottom: 0;
    background-color: #EEE;
    width: 100%;
    border-top: 1px solid;
}
div.footer table {
    width: 98%;
    margin: auto;
}
div.footer table td a {
    color: #777;
    text-decoration: none;
}
div.footer td.left {
    text-align: left;
    width: 25%;
}
div.footer td.center {
    text-align: center;
    width: 50%;
}
div.footer .current {
    background: black;
    color:white;
    margin: 0;
    padding-right: .25em;
    padding-left:  .25em;
}

div.footer td.center a {
    padding-right: .25em;
    padding-left:  .25em;
}

div.footer td.right {
    text-align: right;
    width: 25%;
}
